Pillow >= 9.4.0
requests >= 2.31.0
PyYAML >= 6.0
pyaudio >= 0.2.13

# The following requirements are used by only the hardware modules for Raspberry Pi.
RPi.GPIO >= 0.7.1; sys_platform == 'linux' and ('arm' in platform_machine or 'aarch' in platform_machine)
spidev >= 3.5; sys_platform == 'linux' and ('arm' in platform_machine or 'aarch' in platform_machine)
numpy >= 1.22.3; sys_platform == 'linux' and ('arm' in platform_machine or 'aarch' in platform_machine)
