injector >= 0.22.0
numpy >= 2.0.0
Pillow >= 10.3.0
pyaudio >= 0.2.14
pyili9486 >= 1.0.0
pynmea2 >= 1.19.0
pyserial >= 3.5
pyudev >= 0.24.3
PyYAML >= 6.0
requests >= 2.32.0
smbus2 >= 0.4.3
typing-extensions >= 4.12.0; python_version < '3.12'
